*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width: 90%;
    margin: auto;
}

figure{
    margin: 0;
}
/*
    HEADER
            */

header .topheader{
    display: flex;
    align-items: center;
}


header .topheader figure img{
    width: 35%;
}

header .topheader nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 0em 7em;
}

header nav{
    z-index: 6;
    margin-top: 2em;
}

/*
    BANNIERE
             */

             
.banniere{
    position: relative;
    background-image: url(../images/rtx2060.jpg);
    width: 100%;
    height: 400px;
    margin-bottom: 1em;
}

.banniere .hover{
    width: 100%;
    background-color: rgba(0, 128, 0, 0.794);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.banniere .hover a{
    margin: 0em 0.5em;
    padding: 3px;
    width: 6%;
    text-align: center;
    height: 28px;
    background-color: #76b900;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 5px;
}

.banniere .hover p{
    padding: 0px 5px;
    color: white;
}

/*
    MAIN
            */

main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #76b900;
}

.art_1{
    width: 75%;
}

.art_1 .titre{
    display: flex;
    align-items: center;
}

.art_1 .titre figure img{
    width: 16%;
}

.art_1 p{
    padding: 0em 1em 0em 0em;
}

.up{
    position: absolute;
    bottom: -35px;
    right: 50%;
}

.up .fas{
    color: #76b900;
    font-size: 5em;
}


/*
    ASIDE
            */

aside{
    width: 25%;
    background-color: #76b900;
}

aside figure{
    text-align: center;
}

aside figure img{
    width: 25%;
}

aside h2{
    text-align: center;
    color: white;
}

aside p{
    color: white;
    padding: 0em 2em;
}

.social{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 5em 0em 1em 5em;
}

.social .fab{
    color: white;
    font-size: 35px;
}

/*
    FOOTER
            */

footer{
    display: flex;
    justify-content: space-between;
    margin: 2em 0em;
}

.partenaire img{
    width: 20%;
}

.news, .gallery, .partenaire{
    width: 24%;
}

.gallery_content, .partenaire_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gallery_content img, .partenaire_content img{
    width: 100%;
    height: 100%;
}

.img1, .img2, .img3, .img4,.img5,.img6,.img7{
    width: 16%;
    overflow: hidden;
    cursor: pointer;
}

.gallery_content img, .partenaire_content img {

    transition: all 1s ease;
    }
    .hover:hover img {

    transform:scale(1.25);
    }



footer .inputnews{
    border-radius: 3px;
    padding: 5px;
    border: 1px solid rgba(88, 88, 88, 0.459);
    color: rgba(88, 88, 88, 0.459);
}

.sinscrire{
    background-color: #76b900;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}








